<!doctype html>
<html lang="{{ page.data.lang|default('en') }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title|default('Site Title') }}</title>
    <meta name="description" content="{{ page.data.description|default('') }}" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#000000" />
    {{ 'main.css'|css }}

    <script type="module" src="/baked/baker.js" async></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('baked/sw.js');
      }
    </script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </nav>
      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}
    </header>
    <main>{% block content %} {{ page.content|safe }} {% endblock %}</main>
    <footer>
      <p>Site cooked with Baked</p>
      <nav>
        <a href="/privacy">Privacy Policy</a>
        <a href="/contact">Contact</a>
      </nav>
    </footer>
  </body>
</html>
